@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.cardWrapper {
		@apply grid place-items-center h-screen bg-coolGray-200;
	}
	.card {
		@apply flex flex-col bg-white shadow max-w-xl w-full rounded-2xl;
	}
	.buttonPrimary {
		@apply px-[16px] py-[8px] text-white text-base font-medium bg-violet-500 hover:bg-violet-400 transition-all no-underline rounded-[4px];
	}
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}
